@{
    ViewBag.Title = "ExpertInfo";
}


<link rel="shortcut icon" href="~/Areas/Ofiice/OfficeContent/assets/jquery-multi-select/test/favicon.png">
<!-- Bootstrap core CSS -->
<!--external css-->
<link href="~/Areas/Ofiice/OfficeContent/assets/font-awesome/~/Areas/Ofiice/OfficeContent/css/font-awesome.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="~/Areas/Ofiice/OfficeContent/~/Areas/Ofiice/OfficeContent/css/style.css" rel="stylesheet">
<link href="~/Areas/Ofiice/OfficeContent/~/Areas/Ofiice/OfficeContent/css/style-responsive.css" rel="stylesheet" />

<link href="~/Areas/Ofiice/OfficeContent/~/Areas/Ofiice/OfficeContent/css/profile.css" rel="stylesheet" />
<link href="~/Areas/Ofiice/OfficeContent/css/Extra.css" rel="stylesheet" />

<div class="row">
    <aside class="profile-nav col-md-3">
        <section class="panel">
            <div class="user-heading round">
                <a href="#">
                    <img src="~/Areas/Ofiice/OfficeContent/img/profile-avatar.jpg" alt="">
                </a>
                <h1><span>First Name </span><span>Last Name </span></h1>
                <p>Uzmanlık</p>
            </div>

        </section>
    </aside>

    <aside class="profile-info col-md-9">
        <section class="panel">

            <div>
                <h1>Uzman</h1>
                <div class="row">
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>&nbsp;Doğum Tarihi</label>
                                    </div>
                                    <div class="col-md-6" style="float:right">
                                        <p>1993</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>&nbsp;Telefon Numarası</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>555 555 5555</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>&nbsp;Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>kshitighelani@gmail.com</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>&nbsp;Adres</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>dsvdv</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>&nbsp;Fiyat Politikası</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>dsvsdvsd</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>&nbsp;Not</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>dsvsdvsd</p>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-shadow btn-info" style="float:right">CV Görüntüle</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>
<script src="~/Areas/Ofiice/OfficeContent/js/jquery.js"></script>
<script src="~/Areas/Ofiice/OfficeContent/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/Areas/Ofiice/OfficeContent/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/Areas/Ofiice/OfficeContent/js/jquery.scrollTo.min.js"></script>
<script src="~/Areas/Ofiice/OfficeContent/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="~/Areas/Ofiice/OfficeContent/assets/jquery-knob/js/jquery.knob.js"></script>
<script src="~/Areas/Ofiice/OfficeContent/js/respond.min.js"></script>
<script src="~/Areas/Ofiice/OfficeContent/js/common-scripts.js"></script>
<script>

    //knob
    $(".knob").knob();

</script>
